{% extends "base.html" %}
{% block title %}Sign up{% endblock %}
{% block content %}

<h2>Sign up</h2>
<br>
<div>
    <label for="pincode">Pincode:</label><br>
    <input type="text" id="pincode" name="pincode"><br><br>
    <label for="username">Username:</label><br>
    <input type="text" id="username" name="username"><br><br>
    <label for="password">Password:</label><br>
    <input type="text" id="password" name="password"><br><br>
    <button _="on click log 'Button clicked!'">Sign up</button>

</div> 



{% endblock %}